In [22]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import io
import requests

pd.set_option('display.max_columns', None) 

###
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'
plt.style.use("seaborn")
###

In [23]:
# name of the dataset to be imported from our GitHub account
df_name = 'datascience_salaries.csv'

In [24]:
df_url = 'https://raw.githubusercontent.com/s3668011/mathematics_for_computing_phase1/main/' + df_name
url_content = requests.get(df_url, verify=False).content
ds_df = pd.read_csv(io.StringIO(url_content.decode('utf-8')))

In [30]:
ds_df.sample(10, random_state = 999)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
162,162,2021,MI,FT,Data Engineer,24000,EUR,28369,MT,50,MT,L
381,381,2022,SE,FT,Data Engineer,101570,USD,101570,US,100,US,M
416,416,2022,SE,FT,Data Scientist,260000,USD,260000,US,100,US,M
199,199,2021,EN,FT,Data Science Consultant,90000,USD,90000,US,100,US,S
160,160,2021,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
509,509,2022,MI,FT,Applied Data Scientist,157000,USD,157000,US,100,US,L
322,322,2022,SE,FT,Data Engineer,160080,USD,160080,US,0,US,M
145,145,2021,SE,FT,Machine Learning Engineer,70000,EUR,82744,BE,50,BE,M
438,438,2022,SE,FT,Machine Learning Engineer,189650,USD,189650,US,0,US,M
35,35,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L